<p id="notice"><%= notice %></p>

<h1>Workshops</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Agreed Workshop Cost</th>
      <th>Hours </th>
      <!-- <th>Trainers </th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.name %></td>
        <td><%= workshop.start_date.strftime("%d %b %Y") %></td>
        <td><%= workshop.end_date.strftime("%d %b %Y") %></td>
        <td><%= workshop.start_time.strftime("%I:%M %p") %></td>
        <td><%= workshop.end_time.strftime("%I:%M %p") %></td>
        <td><%= workshop.address %></td>
        <td><%= workshop.contact %></td>
        <td>$<%= workshop.amount %></td>
        <td><%= workshop.hours %></td>
        <!-- <% @trainername = []  %>
        <% workshop.trainers.ids.map do |id| %>
          @trainername  << Trainer.find(id)
        <% end %>
        <td>
          <p>
          <% @total_cost = 0 %>
          <% @trainername.each do |t| %>
            <p>
              <%= t.name %>
            </p>
            <p>
              <strong> per hour Cost $ </strong>
                <%= t.cost %>
              <%
              # also calculate total cost as you go
              @total_cost += t.cost * @workshop.hours
              %>
            </p>
          <% end %>
          </p>
            <strong> Total Trainer cost for this workshop $ </strong>
            <%= @total_cost %>
          </p>
        </td> -->
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop', new_workshop_path %>
