<p id="notice"><%= notice %></p>

<h1> Workshop Details </h1>
<div class="jumbotron">
  <div class="trainer-name">
    <%= @workshop.name %>
  </div>
  <div class="workshop-dates">
    <p>
      <strong>Start date:</strong>
      <%= @workshop.start_date.strftime("%d %b %Y") %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @workshop.end_date.strftime("%d %b %Y") %>
    </p>

    <p>
      <strong>Start time:</strong>
      <%= @workshop.start_time.strftime("%I:%M %p") %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= @workshop.end_time.strftime("%I:%M %p") %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @workshop.address %>
    </p>

    <p>
      <strong>Contact:</strong>
      <%= @workshop.contact %>
    </p>
  </div>

  <p class="workshop-cost">
    <strong>Agreed Training Cost :</strong>
    $ <%= @workshop.amount %>
  </p>

  <p class="workshop-cost">
    <strong> Initial Estimated Training Cost :</strong>
    $ <%= @workshop.effort.total_cost %>
  </p>


  <p>
    <strong>Hours worked</strong>
    <%= @workshop.hours %>
  </p>

  <p>
    <strong>Trainers</strong>
    <% @total_cost = 0 %>

    <!-- trainername defined in show method workshop controller -->
    <% @trainername.each do |t| %>
      <p>
        <%= t.category %>
        <%= t.name %>
      </p>
      <p>
        <strong> Cost $ </strong>
          <%= t.cost %>
        <%
        # also calculate total cost as you go
        @total_cost += t.cost * @workshop.cal_hours
        %>
      </p>
    <% end %>
  </p>

  <p class="workshop-cost">
    <strong> Trainers total cost for the workshop $ </strong>
    <%= @total_cost.round(2) %>
  </p>


  <%= link_to 'Edit', edit_workshop_path(@workshop), class: "btn btn-primary" %> |
  <%= link_to 'Back', workshops_path , class: "btn btn-info"%>
</div>
