<%= simple_form_for(@trainer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name , label: "Enter full name of the trainer"%>
    <%= f.input :category , collection: ["Lead Trainer", "Teaching Assistant"]%>
    <%= f.input :cost , label: "Enter per hour cost" %>
    <%= f.input :availability  , label: "Enter if there are only particular days trainer is available"%>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :email , label: "Enter email address of the trainer" %>
    <%= f.input :mobile , label: "Enter mobile number of the trainer" %>
    <%= f.input :wwc_number , label: "Enter Work With Child Check number for the trainer" %>

    <%= f.input :dob, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year , label: "Enter the Birth Date  of the trainer for WWC check purpose" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit , 'Add Trainer'%>
  </div>
<% end %>
